<td><%= @wardrobe["name"] %>
  <% if @wardrobe["quantity"] %>
  <%= "(" + "#{@wardrobe["quantity"]}" + ")" %>
  <% end %>
<span class="delete_wardrobe_item"><%= link_to "x", "/trips/" + @trip.id.to_s + "/wardrobe/" + @wardrobe.id.to_s %></span>
</td>
