<!-- main -->
<div class="column col-sm-9" id="main">
  <div class="full col-sm-9">
    <div class="dashboard">

      <div class="card">
        <div class="card__flipper">
          <div class="card__front">
            <p class="card_name">Things to do</p>
          </div>

          <div class="card__back">
            here is a back
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__flipper">
          <div class="card__front">
            <p class="card_name">Weather</p>
          </div>

          <div class="card__back">
          </div>
        </div>
      </div>

      <div style='clear:both'></div>

      <div class="card">
        <div class="card__flipper">
          <div class="card__front">
            <p class="card_name">Budget</p>
          </div>
          <div class="card__back">
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__flipper">
          <div class="card__front">
            <p class="card_name">Wardrobe</p>
          </div>
          <div class="card__back">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
