<!-- main -->
<div class="column col-sm-9" id="main">
  <div class="padding">
    <div class="full col-sm-9">

      <%= render partial: "shared/title.html.erb" %>

      <div class="row">
        <div class="col-sm-10">
          <h3>About TripPlanner</h3>
          <h4><span class="label label-default"></span></h4><h4>
          <small class="text-muted"> <a href="#" class="text-muted"></a></small>
          </h4>
        </div>
      </div>

      <div class="col-sm-12" id="stories">
        <div class="page-header text-muted divider">
          I'll put some text in here later
        </div>
      </div>

      <div class="col-sm-12">
        <div class="page-header text-muted divider">
          Contact me
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <small class="text-muted">|</small><a href="https://github.com/vikshab">Github</a><small class="text-muted">|</small><a href="https://www.linkedin.com/pub/victoria-shabunia/50/a28/799">Linkedin</a><small class="text-muted">|</small><a href="mailto:vikshab2010@hotmail.com">Email</a><small class="text-muted">|</small>
        </div>
      </div>
    </div>
  </div>
</div>
