<div class="wrap">
  <div class="floatleft">
    <%= link_to "Create a new account" %><br>
    <%= link_to "Sign up with Facebook" %><br>
  </div>
<div class="floatright">
  <h1>WELCOME TO TRIP PLANNER</h1>
</div>
