<!-- <%= link_to "Sign up with Facebook", class:"fb-login-button data-max-rows=1 data-size=medium data-show-faces=false data-auto-logout-link=true" %> -->
  <div class="wrap">
    <div class="floatleft">
      <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>
      <%= link_to "Create a new account" %><br>
    </div>
  <div class="floatright">
    <h1>WELCOME TO TRIP PLANNER</h1>
  </div>
