/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');


/* custom template */
html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
}

a {
  color:#222222;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image:url('left_background.png');
    background-size:cover;
    background-attachment:fixed;
}

.divider {
	margin-top:32px;
}

#main {
    background-image:url('background_1.jpg');
    background-size:cover;
    background-attachment:fixed;
    // background-color:#fefefe;
}
// #main .img-circle {
//   margin-top:18px;
//   height:70px;
//   width:70px;
// }

#sidebar, #sidebar a {
  color:#ffffff;
  background-color:transparent;
	// text-shadow:1px 0 1px #888888;
}
// #sidebar a.logo {
//   display:block;
//   padding:3px;
//   background-color:#fff;
//   color:#777777;
//   height:40px;
//   width:40px;
//   margin:15px;
//   font-size:26px;
//   font-weight:700;
//   text-align:center;
//   text-decoration:none;
//   text-shadow:0 0 0;
// }
#sidebar-footer {
  position:absolute;bottom:5px;
}
// #footer {
//   margin-bottom:20px;
// }

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar,#sidebar a.logo {
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    font-size:26px;
  }
  #sidebar a.logo {
    font-size:50px;
    height:75px;
    width:75px;
    margin-bottom:30px;
  }
}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

$color1: #5271C2;
$color2: #35a541;
$color3: #bdb235;
$color4: #db6623;
$color5: #2aa9e0;
$color6: #aa9e5c;
$color7: #AD103C;
$color8: #3e5eb3;

.dashboard {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  overflow-x: hidden;
}

.card {
  float: left;
  position: relative;
  width: 48%;
  // width: calc(100% * .3333 - 30px + .3333 * 30px);
  height: 290px;
  margin:4px;

  // perspective: 1000;

  &:first-child {
    .card__front {
      background: $color1;
    }
    .card_name {
      font-family:courier,courier-new,monospace;
      // text-shadow: longshadow(darken($color1, 15%),$color1,100, 0.8);
    }
    .card__back {
      background: $color1;
    }
  }
  //
  &:nth-child(2) {
     .card__front {
      background: $color2;
    }
    .card_name {
      font-family:courier,courier-new,monospace;
      // text-shadow: longshadow(darken($color2, 15%),$color2,100, 0.8);
    }

    .card__back {
     background: $color2;
   }
  }

  &:nth-child(3) {
    margin-right: 0;
     .card__front {
      background: $color3;
    }
    .card_name {
      font-family:courier,courier-new,monospace;
      // text-shadow: longshadow(darken($color3, 15%),$color3,100, 0.8);
    }
    .card__back {
     background: $color3;
   }
  }
  //
  &:nth-child(4) {
     .card__front {
      background: $color4;
    }
    .card_name {
      font-family:courier,courier-new,monospace;
      // text-shadow: longshadow(darken($color4, 15%),$color4,100, 0.8);
    }
    .card__back {
     background: $color4;
   }
  }

  &:nth-child(5) {
     .card__front {
      background: $color5;
    }
    .card_name {
      font-family:courier,courier-new,monospace;
      // text-shadow: longshadow(darken($color4, 15%),$color4,100, 0.8);
    }
    .card__back {
     background: $color5;
   }
  }
  &__front,
   &__back {
     position: absolute;
     backface-visibility: hidden;
     top: 0;
     left: 0;
     width: 100%;
     height: 290px;
   }

   &__front {
     transform: rotateY(0);
     z-index: 2;
     overflow: hidden;
   }

   &__back {
     transform: rotateY(180deg) scale(1.0);
     background: lighten(black, 8);
     display: flex;
     flex-flow: column wrap;
     align-items: center;
     justify-content: center;
     box-shadow: 0 4px 20px rgba(black, 0.3);

    //  span {
    //    position: absolute;
    //    top: 50%;
    //    left: 50%;
    //    transform: translate(-50%, -50%);
    //  }
   }

   &__name {
     font-size: 32px;
     line-height: 0.9;
     font-weight: 700;

    //  span {
    //    font-size: 14px;
    //  }
   }

   &__name {
     font-size: 100px;
     margin: 0 8px 0 0;
     font-weight: 700;

     @media (max-width: 700px) {
       font-size: 70px;
     }
   }

   @media (max-width: 700px) {
     width: 100%;
     height: 290px;
     margin-right: 0;
     float: none;

     .card__front,
     .card__back {
       height: 290px;
     }
   }
 }

 .dashboard {
  // min-height: 100vh;
  // display: flex;
  align-items: center;
  justify-content: center;
  // flex-flow: column wrap;
  background: lighten(black, 12);
  color: white;
  font-family: 'Lato';
  // -webkit-font-smoothing: antialiased;
  // text-rendering: optimizeLegibility;
 }

 .dashboard p {
    // margin: 0 0 12px 0;
    margin-top: 12px;
    font-size: 30px;
  }

.app_name {
  font-size: 30px;
  color: white;
}

//
animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card
{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;

  /*depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;

}

.card
{
  width: 48%;
  height: 290px;
  cursor: pointer;

  /*transition effects */
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
//
.card.flipped
{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
//
.card.card_front,
.card.card_back {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  color: white;
  text-align: center;
  font-size: 4em;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}
//
.card.card_back {
  width: 100%;
  font-size: 16px;
  text-align: left;
  line-height: 25px;
}

.card.card_back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
